<div>
  <div class="modal-body pt-0">
    <div class="row">
      <div class="col-12">
        <ng-container class="row" *ngIf="lastError">
          <div class="alert alert-danger col-12" role="alert">
            <span>{{lastError.title}}</span><br>
            <small>{{lastError?.message}}</small>
          </div>
        </ng-container>

        <ng-container>
          <advanced-form-edit #formComponent [formName]="formSrc" [data]="formData"></advanced-form-edit>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="showButtons" class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled" (click)="ok()"
            type="button" [ngClass]="okButtonClass">
      {{'Events.OK' | translate}}
    </button>
    <button (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
      {{'Events.Cancel' | translate}}
    </button>
  </div>
</div>
