<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
          <app-advanced-search-form [formSrc]="searchConfigSrc" (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value" (loading)="onSearchLoading($event)"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Events.Tables.Classes'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Events.Tables.Class'"></span>
      </div>
    </div>
    <!-- template for actions: uncomment when actions are added -->
    <!-- <ng-container>
      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="btn-group" *ngIf="this.table && this.table.selectable">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
            class="btn btn-outline-indigo btn-lg" type="button" [translate]="'Students.Events.Actions'">
          </button>
          <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button *ngIf="defaultLocale && defaultLocale === 'el'"
              [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"
              [translate]="'Students.ConvertToElot'" (click)="convertToElot()">Convert names to elot</button>
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
              class="dropdown-item" [translate]="'Events.Instructors.CreateUserAction.Title'" (click)="createUser()">Create
              user</button>
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
              class="dropdown-item" [translate]="'Events.Instructors.LinkUserAction.Title'" (click)="linkUser()">Link
              user</button>
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
              class="dropdown-item" [translate]="'Events.Instructors.UnlinkUserAction.Title'" (click)="unlinkUser()">Unlink
              user</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select
              all</button>
            <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear
              selection</button>
          </div>
        </div>
      </div>
    </ng-container> -->
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="true" [height]="600" [configSrc]="tableConfigSrc" (load)="onDataLoad($event)" (loading)="onTableLoading($event)"></app-advanced-table>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
